@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>Den data vi samlar in används för att sidan ska fungera så bra som möjligt.</p>
<p>All information du anger och alla inlägg du skapar blir öppet tillgängligt på nätet.</p>
