@page
@model Snackis.Pages.Admin.GroupMessageAdmin.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>GroupMessage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupMessage.Date" class="control-label"></label>
                <input asp-for="GroupMessage.Date" class="form-control" />
                <span asp-validation-for="GroupMessage.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupMessage.Text" class="control-label"></label>
                <input asp-for="GroupMessage.Text" class="form-control" />
                <span asp-validation-for="GroupMessage.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupMessage.UserId" class="control-label"></label>
                <input asp-for="GroupMessage.UserId" class="form-control" />
                <span asp-validation-for="GroupMessage.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupMessage.GroupId" class="control-label"></label>
                <input asp-for="GroupMessage.GroupId" class="form-control" />
                <span asp-validation-for="GroupMessage.GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
