@page
@model Snackis.Pages.Admin.DMAdmin.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>DM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DM.UserIds" class="control-label"></label>
                <input asp-for="DM.UserIds" class="form-control" />
                <span asp-validation-for="DM.UserIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DM.Date" class="control-label"></label>
                <input asp-for="DM.Date" class="form-control" />
                <span asp-validation-for="DM.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DM.Text" class="control-label"></label>
                <input asp-for="DM.Text" class="form-control" />
                <span asp-validation-for="DM.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
